html {
  background-color: black;
  color: white;
  font-family: roboto;
  font-size: 0.85vw;
}

header {
  text-align: center;
  height: 7.5vh;
  border: solid white;
  opacity: 1;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;
}

.header-box {
  text-align: center;
  font-style: italic;
  color: white;
}

.header-box>a {
  color: white;
}

header, .bottom-tab, .middle-tab, nav, .right-tab {
  padding: 1em;
  margin: 5px;
  border-radius: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex: 1;
}

.middle-tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid white;
}

.left-tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid white;
  opacity: 0;
}

.left-tab-button {
  width: 8vh;
  height: auto;
  line-height: 3vh;
}


.main>nav, .main>.right-tab {
  flex: 0 0 20vw;
  border: solid white;
  max-height: 45vh;
}

.right-tab {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  opacity: 0;
}

.middle-tab {
  opacity: 0;
}

.mid-tab-button {
  width: 6vw;
  height: 2vh;
  line-height: 2vh;
}

.middle-right-col>div {
  float: right;
}

.middle-left-col, .middle-right-col {
  width: 15%;
}

.middle-mid-col {
  width: 60%;
}

.grid-left{
  display: grid;
  grid-template-columns: repeat(4, 4.5vw);
  grid-template-rows: repeat(7, 5vh);
  gap: 1vh;
  grid-auto-flow: row;
  text-align: center;
}
.grid-left>div{
  height: 2.5vh
}
#buildings-title{grid-area: 1 / 1 / 1 / 3;}
#research-title{grid-area: 1 / 3 / 1 / 5;}
/* #tools-title{grid-area: 1 / 3 / 1 / 4;} */ 

.grid-bottom {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: repeat(7, 1vw);
  gap: 0.5vw;
  grid-auto-flow: column;
  text-align: left;
  align-items: end;
}

.bottom-tab {
  height: 25vh;
  border: solid;
  opacity: 0;
}

#primary-resources-title {grid-area: 1 / 1 / 1 / 4;}
#crafting-resources-title {grid-area: 1 / 4 / 1 / 7;}
#dev-tools {grid-area: 1 / 7 / 2 / 8;}
#time-passed {grid-area: 2 / 7 / 2 / 8;}
#current-temp {grid-area: 3 / 7 / 3 / 8;}
#explored-resource {grid-area: 4 / 7 / 4 / 8;}
#temp-message {grid-area: 5 / 7 / 5 / 8;}
#pollution-message {grid-area: 6 / 7 / 6 / 8;}

.work-area {
  height: 95%;
  display: grid;
  grid-template-columns: 80% 4% 4% 4% 4% 4%;
  grid-template-rows: repeat(3, 1.5vw);
  grid-auto-flow: row;
  grid-gap: 0.10vw;
  margin: 0.25vw;
  padding: 0.65vw;
  border: solid white;
  border-width: thin;
}

.work-area>div {
  padding: 0px;
  /* Weird fix for grid gap alignment */
  border: solid transparent;
}

#tooltip-title {
  font-size: 1vw;
  grid-area: 1 / 1 / 2 / 1;
  text-decoration: underline;
}

#tooltip-desc {
  grid-area: 2 / 1 / 6 / 6;
}

#tooltip-effects-container, #tooltip-costs-container{
  display: grid;
  grid-auto-flow: row;
  font-size: 0.75vw;
  width: 75%;
}
#tooltip-effects-container{
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1.15vw);
  grid-area: 6 / 1 / 6 / 1;
}
#tooltip-costs-container{
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 1.15vw);
  grid-area: 5 / 1 / 5 / 1;
}
#tooltip-effects-title, #tooltip-costs-title, {
  grid-area: 1 / 1 / 2 / 1;
  text-decoration: underline;
}

#tooltip-people-list{
  grid-area: 4 / 1 / 4 / 1;
}

#tooltip-effects-1, #tooltip-costs-1 {grid-area: 2 / 1 / 2 / 1;}
#tooltip-effects-2, #tooltip-costs-2 {grid-area: 3 / 1 / 3 / 1;}
#tooltip-effects-3, #tooltip-costs-3 {grid-area: 4 / 1 / 4 / 1;}
#tooltip-effects-4, #tooltip-costs-4 {grid-area: 5 / 1 / 5 / 1;}
#tooltip-effects-5, #tooltip-costs-5 {grid-area: 6 / 1 / 6 / 1;}

.job-desc{
  margin-top: -15px;
  font-style: italic;
}

#free-people{grid-area: 4 / 3 / 4 / 3;}
#free-people-slash{grid-area: 4 / 4 / 4 / 4;}
#total-people{grid-area: 4 / 5 / 4 / 5;}

.right-tab>p {
  font-style: italic;
}

.main>nav {
  order: -1;
}

#era {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.peopleColorText {color: white;}
.FoodColorText {color: red;}
.WoodColorText {color: rosybrown;}
.StoneColorText {color: grey;}
.CopperColorText{color: #e16f3e;}
.TinColorText{color: #6c7893;}
.IronColorText{color: #979fb3;}
.GoldColorText{color: #ffc90e;}

.game-button{
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
  font-size: 78%;
}
.options-button{
  display: inline;
  padding: 5px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
  font-size: 0.75vw;
}

.title-button{
  font-size: 1vw;
}
.build-button{
  height: 1.5vw;
  font-size: 0.85vw;
  grid-area: 7 / 1 / 7 / 6;
}
#build-button{
  border: solid white;
}

.game-button:hover, .options-button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.game-button:active {
  transform: translateY(2px);
}

.log-text {
  width: 30vh;
}
.log-warn{
  width: 30vh;
  color: yellow;
}

.opacity-zero {
  opacity: 0;
  pointer-events: none;
}

.underlined {
  text-decoration: underline;
}

.resource-icons {
  height: 20px;
  margin-bottom: -2px;
}

.built{
  background-color: rgba(169, 169, 169, 0.192);
  text-decoration: underline;
}
.built:hover{
  background-color: rgba(169, 169, 169, 0.300);
}
.active-button{
  background-color: rgba(169, 169, 169, 0.192);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
}

.modal-body {padding: 2px 16px;}
