html {
  background-color: black;
  color: white;
  font-family: roboto;
  font-size: 0.85vw;
}
html:hover{
  cursor: default;
}

header {
  text-align: center;
  height: 7.5vh;
  border: solid white;
  opacity: 1;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;
}

.header-box {
  text-align: center;
  font-style: italic;
  color: white;
}

.header-box>a {
  color: white;
}

header, .bottom-tab, .middle-tab, nav, .right-tab {
  padding: 1em;
  margin: 5px;
  border-radius: 5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex: 1;
}

.middle-tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid white;
}

.left-tab {
  border: solid white;
  opacity: 0;
}

.left-tab-button {
  width: 8vh;
  height: auto;
  line-height: 3vh;
}


.main>nav, .main>.right-tab {
  flex: 0 0 20vw;
  border: solid white;
  max-height: 45vh;
}

.right-tab {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  opacity: 0;
}

.middle-tab {
  opacity: 0;
}

.mid-tab-button {
  width: 6vw;
  height: 2vh;
  line-height: 2vh;
}

.middle-right-col>div {
  float: right;
}

.middle-left-col, .middle-right-col {
  width: 15%;
}

.middle-mid-col {
  width: 60%;
}

.grid-left{
  display: grid;
  grid-template-columns: 4.5vw 4.5vw 4.5vw 4.5vw;
  grid-template-rows: 5vh 30vh;
  gap: 1vh;
  grid-auto-flow: row;
  text-align: center;
}
#grid-left-col-1 > div, #grid-left-col-2 > div{
  height: 2.5vh;
}
#grid-left-col-2{
  grid-template-rows: repeat(7, 5vh);
  grid-template-columns: 100%;
}

.grid-left>div{
  height: 2.5vh
}
#buildings-title{grid-area: 1 / 1 / 1 / 3;}
#research-title{grid-area: 1 / 3 / 1 / 5;}

.grid-bottom {
  display: grid;
  grid-template-columns: repeat(7, 12vw);
  grid-template-rows: repeat(7, 1vw);
  gap: 0.5vw;
  grid-auto-flow: column;
  text-align: left;
  align-items: end;
}

.bottom-tab {
  height: 25vh;
  border: solid;
  opacity: 0;
}

#primary-resources-title {grid-area: 1 / 1 / 1 / 4;}
#crafting-resources-title {grid-area: 1 / 4 / 1 / 7;}
#dev-tools {grid-area: 1 / 7 / 2 / 8;}
#time-passed {grid-area: 2 / 7 / 2 / 8;}
#current-temp {grid-area: 3 / 7 / 3 / 8;}
#explored-resource {grid-area: 4 / 7 / 4 / 8;}
#temp-message {grid-area: 5 / 7 / 5 / 8;}
#pollution-message {grid-area: 6 / 7 / 6 / 8;}

.work-area {
  height: 95%;
  display: grid;
  grid-template-columns: 80% 4% 4% 4% 4% 4%;
  grid-template-rows: repeat(3, 1.5vw);
  grid-auto-flow: row;
  grid-gap: 0.10vw;
  margin: 0.25vw;
  padding: 0.65vw;
  border: solid white;
  border-width: thin;
}

.work-area>div {
  padding: 0px;
  /* Weird fix for grid gap alignment */
  border: solid transparent;
}

#tooltip-title {
  font-size: 1vw;
  grid-area: 1 / 1 / 2 / 1;
  text-decoration: underline;
}

#tooltip-desc {
  grid-area: 2 / 1 / 6 / 6;
}

#tooltip-built{
  grid-area: 4 / 1 / 4 / 6;
}

#tooltip-effects-container, #tooltip-costs-container{
  display: grid;
  grid-auto-flow: row;
  font-size: 0.75vw;
  width: 75%;
}
#tooltip-effects-container{
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1.15vw);
  grid-area: 6 / 1 / 6 / 1;
}
#tooltip-costs-container{
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 1.15vw);
  grid-area: 5 / 1 / 5 / 1;
}
#tooltip-effects-title, #tooltip-costs-title, {
  grid-area: 1 / 1 / 2 / 1;
  text-decoration: underline;
}

#tooltip-people-list{
  grid-area: 4 / 1 / 4 / 1;
}

#tooltip-effects-1, #tooltip-costs-1 {grid-area: 2 / 1 / 2 / 1;}
#tooltip-effects-2, #tooltip-costs-2 {grid-area: 3 / 1 / 3 / 1;}
#tooltip-effects-3, #tooltip-costs-3 {grid-area: 4 / 1 / 4 / 1;}
#tooltip-effects-4, #tooltip-costs-4 {grid-area: 5 / 1 / 5 / 1;}
#tooltip-effects-5, #tooltip-costs-5 {grid-area: 6 / 1 / 6 / 1;}

.job-desc{
  margin-top: -15px;
  font-style: italic;
}

#free-people{grid-area: 4 / 3 / 4 / 3;}
#free-people-slash{grid-area: 4 / 4 / 4 / 4;}
#total-people{grid-area: 4 / 5 / 4 / 5;}

.right-tab>p {
  font-style: italic;
}

.main>nav {
  order: -1;
}

#era {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.peopleColorText {color: white;}
.FoodColorText {color: red;}
.WoodColorText {color: rosybrown;}
.StoneColorText {color: grey;}
.CopperColorText{color: #e16f3e;}
.TinColorText{color: #6c7893;}
.IronColorText{color: #979fb3;}
.GoldColorText{color: #ffc90e;}
.ScienceColorText{color: lightskyblue;}

.game-button{
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
  font-size: 78%;
}
.options-button{
  display: inline;
  padding: 5px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
  font-size: 0.75vw;
}

.title-button{
  font-size: 1vw;
}
.build-button{
  height: 1.5vw;
  font-size: 0.85vw;
  grid-area: 7 / 1 / 7 / 6;
}
#build-button{
  border: solid white;
}

.game-button:hover, .options-button:hover, .job-button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.game-button:active {
  transform: translateY(2px);
}
.fas:active{
  transform: translateY(2px);
}
.log-text {
  width: 30vh;
}
.log-warn{
  width: 30vh;
  color: yellow;
}
.log-alert{
  width: 30vh;
  color: red;
}

.opacity-zero {
  opacity: 0;
  pointer-events: none;
}

.underlined {
  text-decoration: underline;
}

.resource-icons {
  height: 20px;
  margin-bottom: -2px;
}

.built{
  background-color: rgba(169, 169, 169, 0.192);
  text-decoration: underline;
  opacity: 0.40;
}
.built-repeatable{
  background-color: rgba(169, 169, 169, 0.192);
}

.research{
  color: lightskyblue;

}

.built:hover{
  background-color: rgba(169, 169, 169, 0.300);
}
.active-button{
  background-color: rgba(169, 169, 169, 0.192);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-reset{
  text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
}

.modal-body {padding: 2px 16px;}


/* The snackbar - position it at the bottom and in the middle of the screen */
#save-game-notif {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  border: solid white;
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#save-game-notif.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
 However, delay the fade out process for 2.5 seconds */
 -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
 animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




/* Furnace */

#furnace-inside{
  border: solid white;
  border-style: double;
  border-width: 1vh;
  border-radius: 200px 200px 5px 5px;
  padding-left: 10px;
  height: 50vh;
  width: 27.5vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 14.25%);
  grid-template-rows: 5vh 3.5vh 3vh 13vh 10vh 3.75vh 6vh 5vh;
}

.furnace-slot{
  border: solid white;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 1vh;
  background-repeat: no-repeat;
  background-position: center; 
}
/* 
grid-area is shorthand for: 
grid-row-start
grid-column-start
grid-row-end
grid-column-end
*/

#furnace-title{
  margin-top: 20px;
  text-decoration: underline;
  font-size: 1.5vh;
  grid-area: 1 / 1 / 1 / 8;
}
#furnace-description{
  grid-area: 2 / 1 / 2 / 8;
}
#furnace-mode-button{
  grid-area: 3 / 3 / 3 / 6;
}
#furnace-image{
  grid-area: 4 / 3 / 6 / 6;
}
#smelt-count-area{
  grid-area: 5 / 1 / 6 / 3;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  font-size: 75%;
  border-top: solid white;
  border-left: solid white;
  border-right: solid white;
  border-width: 2px;
  border-radius: 5px;
}

#smelt-count-title{
  grid-area: 1 / 1 / 1 / 6;
}
#smelt-button{
  grid-area: 3 / 1 / 3 / 6;
  font-size: 100%;
}
#feed-fire{
  grid-area: 5 / 6 / 5 / 8;
  height: 25%;
}
.furnace-button{
  padding: 5px;
  border-radius: 5px;
  border: solid white;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
  font-size: 90%;
}
.furnace-button:hover{
  background-color: darkgrey;
  cursor: pointer;
}

.furnace-button:active, .fas:active {
  transform: translateY(2px);
}

#input-text-1{
  grid-area: 6 / 1 / 6 / 2;
}
#output-text{
  grid-area: 6 / 3 / 6 / 6;
}
#input-text-2{
  grid-area: 6 / 7 / 6 / 8;
}
#input-slot-1{
  grid-area: 7 / 1 / 7 / 2;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
#progress-1{
  grid-area: 7 / 2 / 7 / 4;
}
#progress-2{
  grid-area: 7 / 5 / 7 / 7;
}
#output-slot{
  font-size: 1vh;
  grid-area: 7 / 4 / 7 / 5;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 75% 25%;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
#output-resource-name{
  grid-area: 1 / 1 / 1 / 2;
  padding: 10px;
}
#output-resource-count{
  font-style: italic;
  grid-area: 2 / 3 / 2 / 3;
}

#input-slot-2{
  grid-area: 7 / 7 / 7 / 8;
  opacity: 0;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
#furnace-copper{
  grid-area: 8 / 1 / 8 / 2;
  /*font-size: 1vh;*/
}
.furnace-copper-bg{
  background-image: url("../images/Copper Ore.png");
}
.furnace-copper-bar-bg{
  background-image: url("../images/Copper Bar.png");
}
#furnace-tin{
  grid-area: 8 / 2 / 8 / 3;
}
.furnace-tin-bg{
  background-image: url("../images/Tin Ore.png");
}
.furnace-tin-bar-bg{
  background-image: url("../images/Tin Bar.png");
}
#furnace-iron{
  grid-area: 8 / 3 / 8 / 4;
}
.furnace-iron-bg{
  background-image: url("../images/Iron Ore.png"); 
}
.furnace-iron-bar-bg{
  background-image: url("../images/Iron Bar.png");
}
#furnace-coal{
  grid-area: 8 / 4 / 8 / 5;
}
.furnace-coal-bg{
  background-image: url("../images/Coal Ore.png");
}
#furnace-gold{
  grid-area: 8 / 5 / 8 / 6;
}
.furnace-gold-bg{
  background-image: url("../images/Gold Ore.png");
}
.furnace-gold-bar-bg{
  background-image: url("../images/Gold Bar.png");
}
#furnace-sand{
  grid-area: 8 / 7 / 8 / 8;  
}
.furnace-sand-bg{
  background-image: url("../images/Sand.png");
}
.furnace-glass-panel-bg{
  background-image: url("../images/Glass Panel.png");
}
#furnace-titanium{
  grid-area: 8 / 6 / 8 / 7;
}

.furnace-titanium-bg{
  background-image: url("../images/Titanium Ore.png");
}
.furnace-titanium-plate-bg{
  background-image: url("../images/Titanium Plate.png");
}
.furnace-steel-plate-bg{
  background-image: url("../images/Steel Plate.png");
}
.furnace-bronze-bar-bg{
  background-image: url("../images/Bronze Bar.png");
}
.furnace-resource{
  border: solid white;
  border-width: 2px;
  border-radius: 5px;
  transition: transform 0.05s, opacity 0.10s;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  opacity: 0.70;
  background-repeat: no-repeat;
  background-position: center; 
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 75% 25%;
}
.furnace-resource-name{
  grid-area: 1 / 1 / 1 / 4;
  font-size: 1.5vh;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
.furnace-resource-count{
  font-style: italic;
  grid-area: 2 / 3 / 2 / 3;
  position: relative;
  bottom: 1vh;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}
.furnace-resource:hover{
  transform: scale(0.95);
}

.output-slot-filled{
  transition: transform 0.05s, border 0.25s;;
}
.output-slot-filled:hover{
  transform: scale(1.05);
  border: solid gold;
  border-width: 2px;
}

.progress > svg{
  margin-top: 2vh;
}
#progress-2 > svg{
  transform: scale(-1, 1);
}



