html{
    background-color: black;
    color: white;
    font-family: arial;
}
header{
    text-align: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow-y: scroll;
  }
  .main {
    display: flex;
    flex: 1;
  }
  .main > .middle-tab {
    flex: 1;
    border: solid white;
  }
  .main > nav, 
  .main > .right-tab {
    flex: 0 0 20vw;
    border: solid white;
  }
  .main > nav {
    order: -1;
  }
  header{
      height: 7.5vh;
      border: solid white;
  }
  .bottom-tab{
    height: 25vh;
    border: solid;
  }
  header, .bottom-tab, .middle-tab, nav, .right-tab {
    padding: 1em;
    margin: 5px;
  }
  #era{
      font-weight: bold;
  }
