html {
  background-color: black;
  color: white;
  font-family: arial;
}

header {
  text-align: center;
  height: 7.5vh;
  border: solid white;
  opacity: 1;

}

.grid-header{
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;
}
.header-box{
  text-align: center;
  font-style: italic;
  color: white;
}
.header-box > a{
  color: white;
}
.grid-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 5px;
}
.grid-bottom > div{
  margin: 0px;
}

.Primary-Resources-Title { grid-area: 1 / 2 / 2 / 4; }
.Crafting-Resources-Titles { grid-area: 1 / 5 / 2 / 7; }
.Dev-Tools { grid-area: 1 / 7 / 2 / 8; }
.Res-1 { grid-area: 2 / 1 / 3 / 2; }
.Res-2 { grid-area: 3 / 1 / 4 / 2; }
.Res-3 { grid-area: 4 / 1 / 5 / 2; }
.Res-4 { grid-area: 5 / 1 / 6 / 2; }
.Res-5 { grid-area: 6 / 1 / 7 / 2; }
.Res-6 { grid-area: 7 / 1 / 8 / 2; }
.Res-7 { grid-area: 8 / 1 / 9 / 2; }
.Res-8 { grid-area: 9 / 1 / 10 / 2; }
.Res-9 { grid-area: 2 / 2 / 3 / 3; }
.Res-10 { grid-area: 3 / 2 / 4 / 3; }
.Res-11 { grid-area: 4 / 2 / 5 / 3; }
.Res-12 { grid-area: 5 / 2 / 6 / 3; }
.Res-13 { grid-area: 6 / 2 / 7 / 3; }
.Res-14 { grid-area: 7 / 2 / 8 / 3; }
.Res-15 { grid-area: 8 / 2 / 9 / 3; }
.Res-16 { grid-area: 9 / 2 / 10 / 3; }
.Res-17 { grid-area: 2 / 3 / 3 / 4; }
.Res-18 { grid-area: 3 / 3 / 4 / 4; }
.Res-19 { grid-area: 4 / 3 / 5 / 4; }
.Res-20 { grid-area: 5 / 3 / 6 / 4; }
.Res-21 { grid-area: 6 / 3 / 7 / 4; }
.Res-22 { grid-area: 7 / 3 / 8 / 4; }
.Res-23 { grid-area: 8 / 3 / 9 / 4; }
.Res-24 { grid-area: 9 / 3 / 10 / 4; }
.Res-25 { grid-area: 2 / 4 / 3 / 5; }
.Res-26 { grid-area: 3 / 4 / 4 / 5; }
.Res-27 { grid-area: 4 / 4 / 5 / 5; }
.Res-28 { grid-area: 5 / 4 / 6 / 5; }
.Res-29 { grid-area: 6 / 4 / 7 / 5; }
.Res-30 { grid-area: 7 / 4 / 8 / 5; }
.Res-31 { grid-area: 8 / 4 / 9 / 5; }
.Res-32 { grid-area: 9 / 4 / 10 / 5; }
.Res-33 { grid-area: 2 / 5 / 3 / 6; }
.Res-34 { grid-area: 3 / 5 / 4 / 6; }
.Res-35 { grid-area: 4 / 5 / 5 / 6; }
.Res-36 { grid-area: 5 / 5 / 6 / 6; }
.Res-37 { grid-area: 6 / 5 / 7 / 6; }
.Res-38 { grid-area: 7 / 5 / 8 / 6; }
.Res-39 { grid-area: 8 / 5 / 9 / 6; }
.Res-40 { grid-area: 9 / 5 / 10 / 6; }
.Res-41 { grid-area: 2 / 6 / 3 / 7; }
.Res-42 { grid-area: 3 / 6 / 4 / 7; }
.Res-43 { grid-area: 4 / 6 / 5 / 7; }
.Res-44 { grid-area: 5 / 6 / 6 / 7; }
.Res-45 { grid-area: 6 / 6 / 7 / 7; }
.Res-46 { grid-area: 7 / 6 / 8 / 7; }
.Res-47 { grid-area: 8 / 6 / 9 / 7; }
.Res-48 { grid-area: 9 / 6 / 10 / 7; }
.Res-49 { grid-area: 2 / 7 / 3 / 8; }
.Res-50 { grid-area: 3 / 7 / 4 / 8; }
.Res-51 { grid-area: 4 / 7 / 5 / 8; }
.Res-52 { grid-area: 5 / 7 / 6 / 8; }
.Res-53 { grid-area: 6 / 7 / 7 / 8; }
.Res-54 { grid-area: 7 / 7 / 8 / 8; }
.Res-55 { grid-area: 8 / 7 / 9 / 8; }
.Res-56 { grid-area: 9 / 7 / 10 / 8; }


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow-y: scroll;
}

.main {
  display: flex;
  flex: 1;
}

.middle-tab, .left-tab {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid white;
}

.main>nav, .main>.right-tab {
  flex: 0 0 20vw;
  border: solid white;
  max-height: 25vw;
}

.right-tab {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 60vh;
  opacity: 0;
}
.middle-tab{
  opacity: 0;
}
.left-tab{
  opacity: 0;
}
.right-tab>p {
  font-style: italic;
}

.main>nav {
  order: -1;
}

.bottom-tab {
  height: 25vh;
  border: solid;
  opacity: 0;
}

header, .bottom-tab, .middle-tab, nav, .right-tab {
  padding: 1em;
  margin: 5px;
  border-radius: 5px;
}

#era {
  font-weight: bold;
}

.hidden {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.peopleColorText {
  color: white;
}

.foodColorText {
  color: red;
}

.woodColorText {
  color: rosybrown;
}

.stoneColorText {
  color: grey;
}

.game-button{
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
}

.building{
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
  border: solid white;
  text-align: center;
  background-color: rgba(169, 169, 169, 0.479);
  transition: background-color 0.25s;
  user-select: none;
}

.mid-tab-button {
  width: 13vh;
  height: 2vh;
  line-height: 2vh;
}

.left-tab-button {
  width: 8vh;
  height: auto;
  line-height: 3vh;
}

.game-button:hover {
  background-color: darkgrey;
  cursor: pointer;
}

.game-button:active {
  transform: translateY(2px);
}

.log-text {
  width: 30vh;
}

.opacity-zero{
  opacity: 0;
  pointer-events: none;
}

.underlined{
  text-decoration: underline;
}

.tab-title{
  text-align: center;
}